:root {
  --color-bg-main: #f7f8fa;
  --color-old-val: #a82130;
  --color-red: var(--color-old-val);
  --color-light-green: #10c44d;
  --color-black: #000;
  --color-white: #fff;
  --color-basic: #221ee3;
  --color-grey: #e0e3e7;
  --color-grey-blue: #aaaebf;
  --color-basic-hover: #0c09ab;
  --color-text20: #1d1b2033;
  --color-text100: #1d1b20;
  --color-line: #e6e6e6;
  --font-family: "Roboto", Arial, sans-serif;
}
