@import "./reset";
@import "./root";
@import "./vars";
@import "./fonts";
@import "./ui/";

body {
  background: var(--color-bg-main);
  color: var(--color-text100);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--color-text100);
}
