.form {
  &-item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    &__price {
      display: grid;
      grid-template-columns: 0.25fr 1fr 0.75fr;
      column-gap: 20px;

      &_switch {
        align-self: flex-end;
      }
    }
  }
}
