.text {
  &-ui {
    color: var(--color-basic);
    font-weight: 700;
  }

  &-left {
    text-align: left;
  }

  &-decoration-underline {
    text-decoration: underline;
  }

  &-small {
    font-size: 10px;
  }
}

.del {
  color: var(--color-old-val);
}
