.h1 {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 39px;

  &.seller {
    margin-bottom: 18px;
  }

  &.flex-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}
